{% set themeDir = "/sphinx-bootstrap-theme/demo/build/html/" %}

<!DOCTYPE html>

<html lang="en">
  {% include "partials/header.njk" %} 
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T6NQSGF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include "partials/navbar.njk" %}
    <div class="container">
      <div class="row">
        {% if sidebar %}
          {% set sidebarCode = ["partials/sidebar-", sidebar, ".njk"] | join %}
          {% include sidebarCode %}
        {% endif %}

        <div class="body col-md-9 content" role="main">
          {% if page.url != "/" %}
            {% include "partials/breadcrumb.njk" %}
          {% endif %}

          {{ content | safe }}

        </div>
      </div>
    </div>
    {% include "partials/footer.njk" %}
  </body>
</html>