
    <footer class="footer">
      <div class="container">
        <p class="pull-right">
          <a href="#">Back to top</a>
        </p>

        <div class="d-flex flex-row justify-content-center">
          <div class="d-flex mx-4">
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="/doc/users-guide/install">Install</a></li>
              <li><a class="link-secondary" href="/posts/">Fast code</a></li>

            </ul>
          </div>
          <div class="d-flex mx-4">
            <ul class="list-unstyled text-small">

              <li><a class="link-secondary" href="/doc/">Documentation</a></li>
              <li><a class="link-secondary" href="https://accessibility.mit.edu/">Accessibility</a></li>
            </ul>
          </div>
          <div class="d-flex mx-4">
            <ul class="list-unstyled text-small">
              <li><a class="link-secondary" href="/community/">Community</a></li>
              <li><a class="link-secondary" href="/about-us/">About us</a></li>

            </ul>
          </div>
          <div class="d-flex mx-4">
            <ul class="list-unstyled text-small">

              <li><a class="link-secondary" href="/contribute/">Contribute</a></li>
              <li><a class="link-secondary" href="/sitemap.xml">Site map</a></li>
            </ul>
          </div>
        </div>

      </div>
    </footer>