{% set context = 'Fast code' %}

<div class="col-md-3">
    <div id="sidebar" class="bs-sidenav" role="complementary"><ul>

        <h5>
            {{ context }}
        </h5>
        <div class="collapse show" id="collapseContext">
            <div class="list-group ps-3 sticky-top sticky-offset">
                {% set postslist = collections.posts %}
                <ul>
                {% for post in postslist | reverse %}
                <li class="{% if page.url == post.url %} postlist-item-active {% else %} postlist-item {% endif %}">
                    <a href="{{ post.url | url }}" class="postlist-link" {% if page.url == post.url %} aria-current="page" {% endif %}>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% if page.url != '/posts/' %}
        <h6>
            On this page
        </h6>
            <div class="collapse show" id="collapseToc">
            <div class="list-group ps-3 sticky-top sticky-offset">
                {{ content | toc | safe }}
            </div>
            </div> 
        {% endif %}
    
    </div>
</div>
