
{% set navPages = ['Blog', 'Documentation', 'Community', 'About us', 'Contribute'] %}
{% if eleventyNavigation.key in navPages %}
{% set context = eleventyNavigation.key %}
{% else %}
{% set context = eleventyNavigation.parent %}
{% endif %}


<div class="col-md-3">
    <div id="sidebar" class="bs-sidenav" role="complementary"><ul>

        <h5>
            {{ context }}
        </h5>
        {% set items = collections.all | eleventyNavigation(context) %}
        <ul>
        {% for item in items %}
            <li class="{% if page.url == item.url %} postlist-item-active {% else %} postlist-item {% endif %}">
                <a href="{{ item.url }}" class="postlist-link" {% if page.url == item.url %} class="aria-current="page" {% endif %}>{{ item.title }}</a>
            </li>
        {% endfor %}
        </ul>

        <p>On this page</p>
        {{ content | toc | safe }}
    </div>
</div>